.btn {
    width: 100%;
    height: 50px;
    background-color: $dark-grey;
    color: $white;
    border-radius: 5px;
    margin-bottom: 40px;
    @include desktop {
        font-size: 0.9rem;
        &:active {
            background: linear-gradient(to right, rgb(255, 84, 115), rgb(249, 106, 62));
            box-shadow: rgba(255, 84, 115, 0.4) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(249, 106, 62, 0.05) 0px 0px 0px 1px inset;
        }
    }
}