<main class="page__main">
    <div class="hidden">
        <div class="hero"></div>
        <section class="suscribe">
            <h1 class="suscribe__title">Stay updated!</h1>
            <p class="suscribe__text">Join 60,000+ product managers receiving monthly updates on:</p>
            <ul class="suscribe__list">
                <li class="suscribe__li"><i class="fa-solid fa-circle-check"></i><p class="suscribe__text">Product discovery and building what matters</p></li>
                <li class="suscribe__li"><i class="fa-solid fa-circle-check"></i><p class="suscribe__text">Measuring to ensure updates are a success</p></li>
                <li class="suscribe__li"><i class="fa-solid fa-circle-check"></i><p class="suscribe__text">And much more!</p></li>
            </ul>
            <label class="suscribe__label" for="email">Email address</label>
            <input class="suscribe__input" type="text" id="email" placeholder="email@company.com">
            <button class="suscribe__btn btn">Suscribe to monthly newsletter</button>
        </section>
    </div>
    <section class="success">
        <div class="success__icon"><i class="fa-solid fa-check"></i></div>
        <h2 class="success__title">Thanks for subscribing!</h2>
        <p class="success__msg">
            A confirmation email has been sent to <span class="success__email">ash@loremcompany.com</span>. Please open it and click the button inside to confirm your subscription.
        </p>
        <button class="success__btn btn">Dismiss message</button>
    </section>
</main>
