.hero {
    background: url("../images/illustration-sign-up-mobile.svg") center / cover;
    height: 40vh;
    width: 100%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.suscribe {
    margin-top: 30px;
    padding: 0 10%;
    &__title {
        font-weight: 700;
        color: $dark-grey;
        font-size: 2rem;
        margin-bottom: 20px;
    }
    &__text {
        color: $charcoal-grey;
    }
    &__list {
        list-style: none;
        margin: 20px 0 35px 0;
    }
    &__li {
        display: flex;
        position: relative;
        margin: 15px 0;
        & i {
            position: relative;
            top: 2px;
            margin-right: 7px;
            color: $tomato;
        }
    }
    &__label {
        font-size: 0.75rem;
        color: $dark-grey;
        font-weight: 700;
    }
    &__input {
        display: block;
        margin-top: 5px;
        width: 100%;
        height: 50px;
        border: 1px solid $grey;
        border-radius: 5px;
        padding-left: 5%;
        &::placeholder {
            color: $grey;
        }
    }
    &__btn {
        margin-top: 20px;
    }
}

.success {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: $white;
    padding: 35% 6% 10% 6%;
    color: $dark-grey;
    &__icon {
        background: linear-gradient(to right top, rgb(244, 66, 125), rgb(255, 127, 72));
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        & i {
            font-size: 2rem;
            color: $white;
        }
    }
    &__title {
        margin: 30px 0 20px 0;
        font-size: 2.3rem;
    }
    &__msg {
        color: $dark-grey;
        line-height: 1.4;
    }
    &__email {
        font-weight: 700;
    }
    &__btn {
        position: absolute;
        width: 88vw;
        bottom: 20px;
    }
}

.hidden {
    display: none;
}